[Unit]
Description=Run xray-mem-guard every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=5s
Unit=xray-mem-guard.service

[Install]
WantedBy=timers.target
